doctype html
link(rel='stylesheet' type='text/css' href='/stylesheets/Menu.css')
head
  meta(charset='utf-8')
  title Home Page
div(classname='{Menu}')
  ul
    li
      a(href='/dashboard') Home
    li
      a(href='/my-list') My List
    li
      a(href='/my-friends') My Friends
    li
      a(href='/') Logout
p Welcome to the wishlist home page.
img(src='https://pics.freeicons.io/uploads/icons/png/13372626691579060763-512.png' alt='wishlist icon')
