doctype html
link(rel='stylesheet' type='text/css' href='/stylesheets/List.css')
head
  meta(charset='utf-8')
  title My Friends
div(classname='{Menu}')
  ul
    li
      a(href='/dashboard') Home
    li
      a(href='/my-list') My List
    li
      a(href='/my-friends') My Friends
    li
      a(href='/') Logout
h1 My Friends
each val in list1
  div
    h3 Friend name: #{val.ListName}
      p 
        form(action='http://localhost:3000/my-friends' method='POST')
          label
            input(type="hidden" name="action" value="delete")
            input(type='text' name='name' size=40 placeholder='Type friend name to confirm removal')
            button(type='submit') Remove friend
        

div 
  form(action='http://localhost:3000/my-friends' method='POST')
    label
      input(type="hidden" name="action" value="add")
      input(type='text' name='name' placeholder='Enter friend name')
      button(type='submit') Add friend

  form(action='http://localhost:3000/my-friends' method='POST')
    label
      input(type="hidden" name="action" value="view")
      input(type='text' name='name' placeholder='Enter friend name')
      button(type='submit') View friend