doctype html
link(rel='stylesheet' type='text/css' href='/stylesheets/index.css')
head
  meta(charset='utf-8')
  title Home Page
h1 Welcome to Wishlist
div(classname='login-wrapper')
  h2 Please Log In
  form(action='http://localhost:3000' method='POST')
    label
      input(type='text' name='username' placeholder='Enter username')
    label
      input(type='password' name='password' placeholder='Enter password')
    div
      input(type="hidden" name="action" value="register")
      button(type='submit') Register/Login