doctype html
link(rel='stylesheet' type='text/css' href='/stylesheets/List.css')
head
  meta(charset='utf-8')
  title Friend's List
div(classname='{Menu}')
  ul
    li
      a(href='/dashboard') Home
    li
      a(href='/my-list') My List
    li
      a(href='/my-friends') My Friends
    li
      a(href='/') Logout
h1 #{friendname}'s List
each val in list1
  div
    h3 Item name: #{val.ItemName}
      h4 Description: #{val.Description}
      p
        form(action='http://localhost:3000/view-friend' method='POST')
          label
            input(type="hidden" name="action" value="delete")
            input(type='text' name='name' size=40 placeholder='Type item name to confirm purchase')
            button(type='submit') Remove item