body {
  background-color: #494fc1ff;
  color: #a0fefb;
}
div {
  color: #a0fefb;
  background-color: #494fc1ff;
  border: 2px solid #a0fefb;
  padding: 15px;
  margin-bottom: 15px;
  border-radius: 5px;
  list-style: none;
}
ul {
  list-style-type: none;
  margin: 0;
  padding: 0;
  overflow: hidden;
  background-color: #a0fefb;
}
li {
  float: left;
}

li a {
  display: block;
  color: #494fc1ff;
  text-align: center;
  padding: 14px 16px;
  text-decoration: none;
  font-weight: bold;
}

/* Change the link color to #111 (black) on hover */
li a:hover {
  background-color: rgb(44, 48, 119);
}