.List input {
  padding: 15px;
  font-size: 16px;
  border: 2px solid #a0fefb;
  width: 150px;
}
.List button {
  padding: 10px;
  font-size: 16px;
  margin: 10px;
  margin-right: 0px;
  background-color: #a0fefb;
  color: #494fc1ff;
  border: 2px solid #494fc1ff;
}
.List button:hover {
  background-color: rgb(44, 48, 119);
  border: 2px solid #a0fefb;
  cursor: pointer;
}
.List {
  list-style: none;
  padding-left: 0;
  width: 250px;
} 
.List li {
  color: #a0fefb;
  background-color: #494fc1ff;
  border: 2px solid #a0fefb;
  padding: 15px;
  margin-bottom: 15px;
  border-radius: 5px;
  list-style: none;
}
.List ul {
  padding: 0;
}