.Menu ul {
  list-style-type: none;
  margin: 0;
  padding: 0;
  overflow: hidden;
  background-color: #a0fefb;
}

.Menu li {
  float: left;
}

.Menu li a {
  display: block;
  color: #494fc1ff;
  text-align: center;
  padding: 14px 16px;
  text-decoration: none;
  font-weight: bold;
}

/* Change the link color to #111 (black) on hover */
.Menu li a:hover {
  background-color: rgb(44, 48, 119);
}